.app {
  font-family: "Flexo-Regular", arial, sans-serif;
}

body {
  overflow: hidden;
  line-height: 1;
  font-size: 16px;
  height: 100%;
}

div.sleepdex-container {
  font-size: 15px;
  height: 100%;
}

div.pokedex-results {
  margin-left: 6rem;
  margin-right: 6rem;
}

ul {
  align-items: center;
  justify-content: center;
  list-style-type: disc;
  padding: 30px;
}

div.results {
  display: inline-block;
}

img.pokemon-img {
  width: 3rem;
  height: 3rem;
}

.filter-berries {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 5px;
}

.filter-ingredients {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.filter-item {
  padding-left: 0.2%;
  padding-right: 0.2%;
}

.pokemon-card {
  margin: 5px;
}

.berries {
  padding: 5px;
  opacity: 0.3;
  cursor: pointer;
}

.berries-activated {
  opacity: 1;
  padding: 5px;
  cursor: pointer;
}

.ingredients {
  padding: 5px;
  opacity: 0.3;
  cursor: pointer;
}

.ingredients-activated {
  opacity: 1;
  padding: 5px;
  cursor: pointer;
}

table {
  table-layout: fixed;
  width: 90%;
}

.table-header {
  margin-top: 30px;
}

.table-body {
  margin-top: 30px;
}
